@model ScrapingMVC.Models.CompanyDetails

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company Master Data</title>
    <style>
        input {
            border-radius: .2em;
            border: 1px solid #cccccc;
            -webkit-transition: border linear .2s, box-shadow linear .2s;
            -moz-transition: border linear .2s, box-shadow linear .2s;
            -o-transition: border linear .2s, box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s;
        }

            input:focus {
                border-color: rgba(82, 168, 236, 0.8);
                outline: 0;
                outline: thin dotted \9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            }

        #loading {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #fff url('~/images/Spinner.gif') no-repeat center center;
            z-index: 9999;
        }

    </style>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript">
        function uncheckCompany() {
            $('#companynames').removeProp('checked');
            document.getElementById('CinNumber').setAttribute('maxlength', 21);

       
        }

        function uncheckCIN() {
            $('#cins').removeProp('checked');
        }

        jQuery(document).ready(function () {
            jQuery('#loading').fadeOut(3000);
        });

        //$('#myCheckbox').attr('checked', false); // Unchecks it

    </script>
    
</head>
<body>

    


    <div>
        <div id="loading"></div>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "myform" }))
    {


    <b><label>Company Name :</label></b>
        <input 
               id="companynames"
               name="companynames"
               type="radio"
               value="Company Name" onclick="uncheckCIN()" />

         <b>    <label>CIN :</label>    </b>
        <input 
           id="cins"
           name="cins"
           type="radio"
           value="CIN" onclick="uncheckCompany()" />




        @*<b>Company Name: </b> @Html.RadioButton("companynames", "Company Name", false) 
     
       

 
        <b>CIN: </b> @Html.RadioButton("cins", "CIN", false)*@

        <br />
                <br />

        
      @Html.TextBox("CinNumber", "", new { style = "width:500px;", placeholder = "Enter CIN or Company Name", required = "required;" })     

      
        <input type="submit" value="Search" class="btn btn-primary"  />    
    }

      
    </div>
   
    

</body>

</html>